@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

:root {
  --green: #126940;
  --green-border: #0c5432;
  --background: rgb(160, 160, 160);
  --header: gray;
  --background-shadow: rgb(17, 17, 17);
  --border: rgb(52, 52, 52);

  background-color: var(--background);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* projects begin */
.card-group {
  height: 100%;
  display: flex;
  flex-basis: 0;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.card {
  background-color: var(--header);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 260px;
  height: auto;
  border-radius: 15px;
  box-shadow: 4px 5px 8px var(--background-shadow);
  background-color: var(--header);
}

.card > * {
  padding: 10px 0;
  font-family: 'Roboto Mono', sans-serif;
}

.card-img {
  padding-bottom: 20px;
}

.card-header {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  background-color: var(--green);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top: 1px solid var(--green-border);
  border-left: 1px solid var(--green-border);
  border-right: 1px solid var(--green-border);
  border-bottom: 2px solid var(--border);
  margin: 0;
}

.card-button-container {
  padding-bottom: 25px;
  padding-top:n 0;
}

.card-button {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
  border-radius: 5px;
  padding: 4px 10px;
  background-color: var(--green);
  border: 1px solid var(--green-border);
  box-shadow: 1px 2px 3px var(--background-shadow);
}

.card-button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.card-languages {
  font-size: 17px;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-languages > * {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

/* projects end */

/* navbar begin */
nav {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: right;
  padding: 25px 18px;
  background-color: var(--header);
  border-bottom: 1px solid var(--border);
}


.link-active {
  text-decoration: none;
  border-bottom: 2px solid var(--green);
  border-top: 2px solid var(--green);
}

.home::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 1% 6% 100%;
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 12px;
  box-shadow: 5px 4px 4px var(--background-shadow);
  z-index: 1000;
  width: 120px;
  height: 110px;
}

.home::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 1% 6% 100%;
  z-index: 2000;
  background-image: url("../public/images/house-chimney-solid.svg");
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: 23px 16px;
  z-index: 1000;
  width: 120px;
  height: 106px;
}

.resume::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 1% 6% 100%;
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 12px;
  box-shadow: 5px 4px 4px var(--background-shadow);
  z-index: 1000;
  width: 120px;
  height: 110px;
}

.resume::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 1% 6% 100%;
  z-index: 2000;
  background-image: url("../public/images/file-lines-solid.svg");
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: 23px 16px;
  z-index: 1000;
  width: 120px;
  height: 106px;
}

.projects::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 1% 6% 100%;
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 12px;
  box-shadow: 5px 4px 4px var(--background-shadow);
  z-index: 1000;
  width: 120px;
  height: 110px;
}

.projects::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 1% 6% 100%;
  z-index: 2000;
  background-image: url("../public/images/code-solid.svg");
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: 23px 16px;
  z-index: 1000;
  width: 120px;
  height: 106px;
}

#navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-right: 5%;
}

#navigation li > * {
  color: var(--background-shadow);
  text-decoration: none;
  padding: 20px 12px;
  transition: all 0.15s ease-in-out;
}

#navigation li > *:hover {
  color: var(--green);
}

@media (max-width: 525px) {
  #navigation li > * {
    padding: 20px 8px;
  }
  #navigation {
    padding-right: 0px;
  }
  nav {
    background-position: 16px 16px;
  }
  .home::before {
    display: none;
  }
  .home::after {
    background-position: 5% 10px;
  }
  .resume::before {
    display: none;
  }
  .resume::after {
    background-position: 5% 10px;
  }
  .projects::before {
    display: none;
  }
  .projects::after {
    background-position: 5% 10px;
  }
}

@media (max-width: 380px) {
  #navigation {
    padding: 0;
  }
  nav {
    justify-content: center;
  }
  .home::after {
    display: none;
  }
  .resume::after {
    display: none;
  }
  .projects::after {
    display: none;
  }
}
/* navbar end */

/* footer begin */
#footer {
  position:fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom:0;
  left:0;
  width: 100%;
  height: auto;
  color: var(--header);
  border-top: 1px solid var(--border);
  background-color: var(--background-shadow);
  background-repeat: no-repeat;
  background-position-y: -10px;
  background-position-x: center;
}

#footer > * {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}

#footer #contact {
  padding-top: 12px;
  padding-bottom: 3px;
}

#footer ul {
  padding-left: 0;
  padding-right: 0;
  padding-top: 3px;
  padding-bottom: 12px;
}

#contact {
  z-index: 3000;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
}

ul.footer-list {
  display: flex;
  flex-direction: row;
  width: 8%;
  text-decoration: none;
  list-style: none;
}

ul.footer-list li {
  z-index: 3000;
  display: flex;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 0;
  padding-right: 7px;
  padding-left: 7px;
}

ul.footer-list li a {
  text-decoration: none;
  font-size: 18px;
  color: gray;
  transition: all 0.15s ease-in-out;
}

ul.footer-list li a:hover {
  transform: translateY(-4px);
}

@media (min-width: 900px) {
  #footer {
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  #footer > * {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px !important;
    padding-bottom: 8px;
    justify-content: left;
  }
}
/* footer end */
