@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

:root {
  --green: #126940;
  --yellow: #eec643;
  --black: #040f0f;
  --attribution: rgb(50, 50, 50);
  --gray: #bebfc4;
  --white: #ffffff;
  
  --green-border: #0c5432;
  --border: rgb(52, 52, 52);
}

body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto Mono', sans-serif;
  background-color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: var(--gray);
  height: 700%;
}

/* typed animation begin */
.typed-out{
  overflow: hidden;
  text-align: left;
  border-right: .15em solid var(--green);
  white-space: nowrap;
  animation: 
    typing 1s steps(18, end) forwards,
    blink .8s infinite;
  font-size: 25px;
  width: 0;
}

.static {
  display: none;
}

.short-message {
  animation: 
    typing 0.25s steps(3, end) forwards,
    blink .8s infinite !important;
}

.long-message {
  animation: 
    typing 1.25s steps(25, end) forwards,
    blink .8s infinite !important;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: var(--green); }
}

.typed-container {
  background-color: var(--white);
  padding: 5px 15px;
  border: 2px solid var(--green);
  border-radius: 20px;
}

.home-typed-container::after {
  content: "";
  display: inline-block;
  background-color: var(--white);
  border: 2px solid var(--green);
  rotate: 215.3deg;
  width: 30px;
  height: 20px;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  position: absolute;
  translate: -50px -83.5px;
}

.projects-typed-container::after {
  content: "";
  display: inline-block;
  background-color: var(--white);
  border: 2px solid var(--green);
  rotate: 215.3deg;
  width: 30px;
  height: 20px;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  position: absolute;
  translate: -70px -91.4px;
}
/* typed animation end */

/* no page begin */
.no-page {
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.no-page::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 1% 6% 100%;
  z-index: 2050;
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: 23px 16px;
  width: 120px;
  height: 110px;
  background-image: url("../public/images/question-solid.svg");
}

.no-page > * {
  margin: 0 auto;
  text-align: center;
}
/* no page end */

/* home begin */
.about-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 125px
}

.home-header {
  margin: 55px 30px 35px 30px;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

.home > * {
  display: flex;
  flex: 1;
}

.home-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 50px 50px 50px;
}

.home-container > * {
  display: flex;
  margin: 20px 20px;
  padding: 10px;
  flex: 1;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  min-width: 300px;
  border: 1px solid var(--border);
  border-radius: 15px;
  background-color: var(--white);
}

.home-container > *::before {
  display: inline;
  white-space: pre;
  position: relative;
  padding: 8px;
  margin: -10px 0;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--gray);
  left: 50%;
  border: 1px solid var(--green-border);
  background-color: var(--green);
  border-radius: 10px;
  transform: translate(-50%, -22px);
  width: 280px;
}

.home-left::before {
  content: "Get to Know Me";
}

.home-left > * {
  margin: 15px;
}

.home-right::before {
  content: "Coursework & Experience";
}

.experience-list {
  margin-top: 0px;
  list-style: none;
}

.experience-list > * {
  text-align: left;
  padding: 7px;
}

.experience-sublist {
  list-style: square;
}

.experience-sublist > * {
  padding-top: 7px;
}
/* home end */

/* projects begin */
.card-group-header {
  padding-top: 55px;
  padding-bottom: 35px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.card-group {
  display: flex;
  flex-basis: 0;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 0 50px 50px 50px;
}

.card {
  background: var(--white);
  align-items: center;
  margin: 10px 10px 40px 10px;
  min-width: 260px;
  max-width: 260px;
  height: 430px;
  border-radius: 15px;
  border: 1px solid var(--border);
  box-shadow: 2px 2px 4px var(--black);
  transition: all 0.15s ease-in-out;
  text-decoration: none;
  color: var(--black);
}

.card:hover {
  box-shadow: 5px 7px 8px var(--black);
  transform: translateY(-5px);
}

.card > * {
  text-align: center;
  padding: 10px 0;
}

.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-header {
  width: 100%;
  background-color: var(--green);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom: 2px solid var(--border);
  margin: 0;
}

.card-languages {
  font-size: 17px;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-languages > * {
  font-weight: 600;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.card-description {
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin: 0 10px 0 10px;
}

@media (max-width: 415px) {
  .typed-out {
    display: none;
  }
  .static {
    display: inline-block;
    font-size: 25px;
  }
}
/* projects end */

/* navbar begin */
nav {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: right;
  padding: 25px 18px;
  background-color: var(--black);
  border-bottom: 1px solid var(--border);
}

.link-active {
  text-decoration: none;
  border-bottom: 2px solid var(--green);
  border-top: 2px solid var(--green);
}

#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  padding-right: 5%;
}

#navigation li > *::before {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 1% 6% 100%;
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 12px;
  box-shadow: 2px 2px 4px var(--black);
  z-index: 1000;
  width: 120px;
  height: 110px;
}

#navigation li > *::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 1% 6% 100%;
  z-index: 2000;
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: 23px 16px;
  width: 120px;
  height: 110px;
}

#navigation li > * {
  color: var(--white);
  text-decoration: none;
  padding: 20px 0;
  margin: 0 12px;
  transition: all 0.20s ease-in-out;
}

#navigation li > *:hover {
  color: var(--green);
}

.home::after {
  background-image: url("../public/images/address-book-regular.svg");
}

.projects::after {
  background-image: url("../public/images/code-solid.svg");
}

.resume:hover {
  background-image: url("../public/images/download-solid.svg");
  background-size: 47px 47px;
  background-position: 21px 10px;
  background-repeat: no-repeat;
  background-color: var(--green);
  color: transparent !important;
  border-radius: 15px;
  transition: 
    all 0.10s ease-in-out;
  padding: 20px 12px !important;
  margin: 0 !important;
}

@media (max-width: 525px) {
  #navigation li > * {
    padding: 20px 8px;
    margin: 0;
  }
  #navigation {
    padding-right: 0px;
  }
  #navigation li > *::after,
  .no-page::after {
    background-position: 4px 10px;
  }
  #navigation li > *::before {
    inset: 5px 10px 100%;
  }
  .resume:hover {
    padding: 20px 4px !important;
    margin: 0 4px !important;
    background-position: 14px 10px;
  }
}

@media (max-width: 415px) {
  body, #footer {
    max-width: 100vw;
  }
  #navigation {
    padding: 0;
  }
  nav {
    justify-content: center;
    max-width: 100vw;
  }
  #navigation li > *::after, 
  #navigation li > *::before,
  .no-page::after {
    display: none;
  }
  .home-typed-container::after,
  .projects-typed-container::after {
    translate: -170px -17px;
  }
}
/* navbar end */

/* footer begin */
#footer {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom:0;
  left:0;
  width: 100%;
  height: auto;
  color: var(--gray);
  border-top: 1px solid var(--border);
  background-color: var(--black);
}

#footer > * {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}

#contact {
  padding-top: 12px;
  padding-bottom: 3px;
  z-index: 3000;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  font-size: 16px;
}

div.footer-list {
  padding: 3px 0 3px 0;
  text-decoration: none;
  list-style: none;
}

div.footer-list > * {
  text-decoration: none;
  font-size: 18px;
  color: var(--gray);
  transition: all 0.30s ease-in-out;
  padding-right: 7px;
  padding-left: 7px;
}

div.footer-list *:hover {
  transform: translateY(-4px);
}

.attributes {
  font-family: 'Roboto Mono', sans-serif;
  background-color: transparent;
  border: none;
  color: var(--attribution);
  padding-bottom: 8px;
}

@media (min-width: 900px) {
  #footer {
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  #footer > * {
    margin: 0;
    padding-top: 8px !important;
    padding-bottom: 8px;
    justify-content: center;
  }
  div.footer-list > * {
    padding-right: 0;
    padding-left: 14px;
  }
  .attributes {
    font-family: 'Roboto Mono', sans-serif;
    position: fixed;
    background-color: transparent;
    border: none;
    color: var(--attribution);
    justify-content: center;
    bottom: 13px;
    right: 20px;
  }
}
/* footer end */
